<main>
  <h1>Address Validator</h1>
  <ul id="notice">
    <% flash.try(:each) do |name, msg| %>
    <% if  name == "errors"%>
      <% msg.try(:each) do |error| %>
        <%= content_tag :li, error %>
      <% end %>
    <% else %>
      <%= content_tag :li, msg, class: name %>
    <% end %>
  </ul>
  <% end %>

  <%= form_tag '/addresses', method: :post do %>
  <div id="street">
    <%= label_tag :street_address %>
    <%= text_field_tag :street_address%>
  </div>

  <div id="address2">
    <div id="city">
      <%= label_tag :city %>
      <%= text_field_tag :city%>
    </div>

    <div id="state">
      <%= label_tag :state %>
      <%= text_field_tag :state%>
    </div>

    <div id="zip">
      <%= label_tag :zip_code %>
      <%= text_field_tag :zip_code%>
    </div>
  </div>

  <div class = "buttons">
    <%= submit_tag 'Validate Address' %>
  </div>
  <% end %>

</main>
<!--  placeholder text -->
